<div class="row">
    <div class="each-entry col-md-8">
      <div class='entries'>
        <div class='media-body' data-rating='{{rating}}'>
          <h1>{{restaurant}}</h1>
          <div class='entry-details'>

            {{#if location}}
            <h4>Location: {{location}}</h4>
            {{/if}}

            {{#if date}}
              <p>Date: {{date}}</p>
            {{/if}}

            {{#if time}}
              <p>Time: {{time}}</p>
            {{/if}}

            {{#if dish}}
              <p>Dish I ate: {{dish}}</p>
            {{/if}}

            <p>{{content}}</p>
          </div>

          <button type="button" class="btn btn-info edit-entry suggest-bttn" data-toggle="modal" data-target="#edit-entry-modal" data-edit-id="{{id}}">Edit</button>
          <button type="button" class="btn btn-danger delete-entry suggest-bttn" data-id="{{id}}">Delete</button>
        </div>
      </div>
    </div>

</div>
